body{
    background-color: aliceblue;
    margin-left: 10%;
    margin-top: 5%;

}
#chat{

    display:flex;
    flex-flow: nowrap row;
    width: 100%;
    height: 80%;
   
    

}
.messages{

    width: 70%;
    height: 60%;
    background-color:white;    
    justify-content: center;
    
}


.utilisateur{
width: 10%;
margin-left: 10%;

}
.each{
    display: flex;
    flex-flow: nowrap row;
}

.tab{
    display: flex;
    flex-flow: row nowrap;
    overflow-y: scroll;
   
}


.tablo{
    border: 2px solid black;
    width: 30%;
    height: auto;
    word-wrap: break-word;
    display: inline-block;
    max-height: 100%;
    text-align: center;
    
  
}


.send{
 display: flex;
 flex-flow: nowrap row;
 justify-content: center;
}
