body{
    background-color: aliceblue;

}
#chat{

    display:flex;
    flex-flow: nowrap row;
   
    

}
.messages{

    width: 80%;
    height: 20%;
    background-color:white;
    overflow-y: scroll;
   
}


.utilisateur{
width: 10%;

}
.each{
    display: flex;
    flex-flow: nowrap row;
}
