body{
    background-color: aliceblue;
}


#messages{
    display: flex;
    flex-flow: row nowrap;
}
.message{
    width: 80%;
}


.utilisateur{
    width: 20%;

}



.send{

    display: flex;
    flex-flow: row nowrap;
 
}